<div class="white_wrapper">
    <div class="flex_row">
        <div class="flex_col_sm_5">
            <app-search-filter [placeholder]="
          'search by employee name, id , email, driver name, id, cab id '
        " (setSearch)="setSearch($event)">
            </app-search-filter>
        </div>

        <div class="flex_col_sm_7">

            <ul class="btn_wrapper text-right">
                <li>
                    <button
                    mat-raised-button
                    (click)="mergeRosters()"
                    color="primary"
                    >
                    Merge
                    </button>
                </li>
                <li>
                    <button mat-raised-button (click)="showFilter = !showFilter" color="primary">
            <mat-icon>filter_list</mat-icon> Filter
          </button>
               
                </li>
                <mat-form-field style="width:25%">
                    <input matInput readonly [formControl]="filterObject.registrationDate.fromDate" [matDatepicker]="picker" (click)="picker.open()" (dateInput)="setDateFilter()" (dateTimeChange)="setDateFilter()" placeholder="Choose a date" />
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </ul>
        </div>
    </div>
    <div class="flex_row">
        <ul class="breadcrumb">
            <li>
                <a href="javascript:void(0)" class="active">Roster</a>
            </li>
        </ul>
    </div>
</div>

<div class="white_wrapper filter_wrapper" [class.filter_wrapper_show]="showFilter">
    <div class="flex_row">
        <div class="flex_col_sm_3">
            <h4>
                &nbsp;
            </h4>
            <mat-form-field>
                <mat-select placeholder="Shift" [formControl]="filterForm.controls.shiftName">
                    <!-- <mat-option *ngFor="let item of shifts" [value]="item.shiftName">{{ item.shiftName}}</mat-option> -->
                    <!-- changes by satyam -> Includes shift timing -->
                    <mat-option *ngFor="let item of shifts" [value]="item.shiftName">{{ item.shiftName+' '+'('+item.startShift+' - '+item.endShift+')'}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <div class="flex_row">
        <div class="flex_col_sm_10 text-center">
            <ul class="btn_wrapper">
                <li>
                    <button filter_btn mat-stroked-button [disabled]="disable()" (click)="resetFilter()">
            Reset
          </button>
                </li>

                <li>
                    <button filter_btn mat-raised-button color="primary" [disabled]="disable()" (click)="filter()">
            Filter
          </button>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="white_wrapper">
    <table mat-table [dataSource]="loginRoster" matSort (matSortChange)="sortData($event)" class="mat-elevation-z8">
        <ng-container matColumnDef="check">
            <th mat-header-cell *matHeaderCellDef>Select
            </th>
            <td mat-cell *matCellDef="let element">
                <mat-checkbox (click)="$event.stopPropagation()"  (change)="$event ? groupSelect($event.checked,element) : null" [checked]="selection.isSelected(element)" [aria-label]="checkboxLabel(element)"></mat-checkbox>
            </td>
          </ng-container>

        <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef>No.</th>
            <td mat-cell *matCellDef="let element; let i = index">
                {{ getSerialNumber(i + 1) }}
            </td>
        </ng-container>

        <ng-container matColumnDef="vendor">
            <th mat-header-cell *matHeaderCellDef>Vendor</th>
            <td mat-cell *matCellDef="let element">
                {{ element?.cab?.vendor?.name | checkNull }}
            </td>
        </ng-container>

        <ng-container matColumnDef="cab">
            <th mat-header-cell *matHeaderCellDef>Cab ID</th>
            <td mat-cell *matCellDef="let element">
                {{ element?.cab?.routeNo | checkNull }}
        <!-- Added medical cab icon - Shivakumar A-->
        <b class="medical_cab_symbol_option" *ngIf="element?.cab?.type === medicalCabValue">&#43;</b>
            </td>
        </ng-container>

        <ng-container matColumnDef="cabModel">
            <th mat-header-cell *matHeaderCellDef>Cab Model</th>
            <td mat-cell *matCellDef="let element">
                {{ element?.cab?.cabModel | checkNull }}
            </td>
        </ng-container>

        <ng-container matColumnDef="regNo">
            <th mat-header-cell *matHeaderCellDef>Cab Registration Number</th>
            <td mat-cell *matCellDef="let element">
            {{ element?.cab?.registrationNo | checkNull }}
            </td>
        </ng-container>

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Driver Name</th>
            <td mat-cell *matCellDef="let element">
                {{ element.cab.driverMapped[0].name | checkNull }}
            </td>
        </ng-container>

        <ng-container matColumnDef="groupName">
            <!-- route name -- satyam -->
            <th mat-header-cell *matHeaderCellDef>Route Name</th>
            <td mat-cell *matCellDef="let element">
                {{ element?.route?.routeName | checkNull }}
            </td>
        </ng-container>

        <ng-container matColumnDef="shiftName">
            <th mat-header-cell *matHeaderCellDef>Shift Name</th>
            <td mat-cell *matCellDef="let element">
                {{ element?.route?.shiftName | checkNull }}
            </td>
        </ng-container>

        <ng-container matColumnDef="shiftTime">
            <th mat-header-cell *matHeaderCellDef>Logout Time</th>
            <td mat-cell *matCellDef="let element">
              {{ element?.route?.shiftTime | checkNull }}
            </td>
          </ng-container>

        <ng-container matColumnDef="startlocation">
            <th mat-header-cell *matHeaderCellDef>Start Location</th>
            <td mat-cell *matCellDef="let element" title="{{ element?.route?.startLocation }}">
                {{ element?.route?.startLocation | checkNull }}
            </td>
        </ng-container>

        <ng-container matColumnDef="endlocation">
            <th mat-header-cell *matHeaderCellDef>End Location</th>
            <td mat-cell *matCellDef="let element" title="{{ element?.route?.endLocation }}">
                {{ element?.route?.endLocation | checkNull }}
            </td>
        </ng-container>

        <ng-container matColumnDef="employee">
            <th mat-header-cell *matHeaderCellDef>No of Employee</th>
            <td mat-cell *matCellDef="let element">
                <span class="view_details td-text-wrap" (click)="openDetailDialog(element?.route?.employees)">{{ element?.route?.empCount | checkNull }}
        </span>
            </td>
        </ng-container>

        <ng-container matColumnDef="duration">
            <th mat-header-cell *matHeaderCellDef>Trip duration</th>
            <td mat-cell *matCellDef="let element">
                {{ element?.route?.totalTripTime }} {{ "min" }}
            </td>
        </ng-container>

        <ng-container matColumnDef="validity">
            <th mat-header-cell *matHeaderCellDef>Validity</th>
            <td mat-cell *matCellDef="let element">
                {{ element?.validFrom | customDate }} {{ "to" }}<br /> {{ element?.validTill | customDate }}
            </td>
        </ng-container>

        <ng-container matColumnDef="created">
            <th mat-header-cell *matHeaderCellDef>Created On</th>
            <td mat-cell *matCellDef="let element">
                {{ element?.created | customDate }}
            </td>
        </ng-container>

        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef>Action</th>
            <td mat-cell *matCellDef="let element">
                <button mat-button [matMenuTriggerFor]="menu" class="btn-more-menu">
          <mat-icon>more_vert</mat-icon>
        </button>
                <mat-menu #menu="matMenu" xPosition="before">
                    <!-- <button mat-menu-item routerLinkActive="active" (click)="openEditModel(element)">
            <mat-icon matTooltip="Edit">edit</mat-icon> Edit
          </button> -->
          <!-- edit roster -- satyam -->
          <button
            mat-menu-item
            routerLinkActive="active"
            (click)="openEditModel(element)"
          >
            <mat-icon matTooltip="Edit">edit</mat-icon> Assign Cab
          </button>
          <button
            mat-menu-item
            routerLinkActive="active"
            [routerLink]="['ROUTE_INFO' | absolutePath, element._id]"
          >
            <mat-icon matTooltip="Edit" >edit</mat-icon> Edit
          </button>
                </mat-menu>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <div class="white_wrapper" *ngIf="total === 0">
        <h2 class="not-found">No Data Found</h2>
    </div>

    <div class="white_wrapper" *ngIf="loginRoster.data.length">
        <mat-paginator [length]="total" [pageIndex]="page - 1" [pageSize]="pageSize" [pageSizeOptions]="pageOptions" (page)="changePage($event)">
        </mat-paginator>
    </div>
</div>
