.flex_row {
    display: flex;
    margin: 0 -10px;
    align-items: center;
}

.tab-table {
    margin: 20px 0 0 0;
}

.breadcrumb {
    width: 100%;
    padding: 5px 15px;
    li {
        display: inline-block;
        a {
            color: #006CB8;
            text-decoration: none;
            cursor: pointer;
            font-size: 14px;
            font-weight: 400;
            outline: none;
            &:before {
                padding: 0 5px;
                color: #B7BEC1;
                content: "/ ";
            }
            &:after {
                content: "/\00a0";
                padding: 0 2px;
                color: #A2ABAE;
            }
            &.active {
                color: rgb(38, 44, 45);
                cursor: default;
                &:after {
                    display: none;
                }
            }
        }
        &:first-child {
            a {
                &:before,
                &:after {
                    display: none;
                }
            }
        }
    }
}

.imgMedical {
    margin-top: 15px;
    margin-left: 20px;
}

// Added medical_cab_symbol_option - Shivakumar A
.medical_cab_symbol_option {
    float: right; 
    margin-top: 8px;
}

// Added medical cab symbol background - Shivakumar
.medical_cab_symbol {
    background:  url("assets/images/medicalCab.png")  left / contain no-repeat;
    white-space: nowrap;
    background-position: 80% 50%; 
  }
:host ::ng-deep {}