<!-- <router-outlet></router-outlet> -->
<div class="parentWrapper">
    <div class="white_wrapper">
        <!-- <mat-tab-group>
            <mat-tab label="Web Notifications"> Web Notifications </mat-tab>
            <mat-tab label="Notifications"> Notifications </mat-tab>
        </!-->
        <ul class="notificationTab">
            <li [routerLink]="'WEBNOTIFICATION' | absolutePath" routerLinkActive="active">Web Notifications</li>
            <li [routerLink]="'NOTIFICATION' | absolutePath" routerLinkActive="active">Notifications</li>
        </ul>
        <div class="flex_wrap">
            <div class="flex_col_sm_10">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>
