.btn-more-menu {
    background: transparent;
}

.btn-more-menu .mat-icon {
    padding-top: 4px;
}

// .mat-column-email 
td.mat-cell, td.mat-footer-cell, th.mat-header-cell{
    // filter view satyam
    // min-width: 200px;
    width: 200px;
}