    .group-detail-wrapper {
        border: 1px solid #cccccc;
        margin-bottom: 15px;
        border-radius: 5px;
        /* display: flex; */
        /* align-items: center; */
        /* justify-content: center; */
        position: relative;
        top: 13px;
        white-space: nowrap;
        overflow: hidden;
        overflow-x: auto;
        // display: block;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        .detailGroup {
            flex: 0 0 40%;
            min-height: 170px;
            position: relative;
            // display: inline-block;
            &:after{
                position: absolute;
                content: "";
                top: 37%;
                left: 50%;
                width: 50%;
                height: 2px;
                background-color: #707070;
            }
            &:before{
                position: absolute;
                content: "";
                top: 37%;
                right: 50%;
                width: 50%;
                height: 2px;
                background-color: #707070;
            }
            @media(max-width: 1400px) {
                flex: 0 0 40%;
            }
            h3 {
                padding: 10px 15px;
                background: rgba(224, 249, 254, 0.5607843137);
                margin: 0;
                font-size: 15px;
                font-weight: 500;
                font-family: "Montserrat", sans-serif;
                border-bottom: 1px solid #accfd4;
                text-align: center;
                text-align: center;
                border-top: 1px solid #accfd4;
                border-left: 1px solid #accfd4;
            }
            .groupBoxAlign {
                text-align: center;
                border: 1px solid #707070;
                max-width: 40px;
                margin: 10px auto;
                padding: 7px 10px;
                border-radius: 4px;
                font-size: 14px;
                font-family: "Montserrat", sans-serif;
                font-weight: 500;
                color: #615f5f;
                position: relative;
                background: #fff;
                z-index:99;
            }
            h6 {
                text-align: center;
                font-weight: 500;
                font-size: 14px;
            }
            p {
                text-align: center;
                font-size: 12px;
                margin: 0;
                word-wrap: break-word;
                width: 100%;
                white-space: normal;
                overflow: auto !important;
                text-overflow: initial;
                display: block;
                // min-height: 110px;
                max-height: 60px;
                overflow-y: auto;
            }
            &:first-child {
                h3 {
                    border-top-left-radius: 5px;
                }
                &:before{
                    display:none;
                }
            }
            &:last-child {
                h3 {
                    border-top-right-radius: 5px;
                    // border-left: 0;
                    border: 1px solid #accfd4;
                }
                &:after{
                    display:none;
                }
            }
           
        }
    }

    .groupBoxContnt {
        width: 90%;
        margin: auto;
    }

    // Added fadeOut - Shivakumar A
    .fadeOut {
        background-color:#a6e9f7 ;
        animation-name:backgroundanimation;
        animation-fill-mode:forwards;
        animation-duration:10s;
        animation-delay:1s;
      }
      @keyframes backgroundanimation {
        0% {background-color:#a6e9f7 ;}
        100% { background-color:transparent;}
      }
