.btn-more-menu {
    background: transparent;
}

.btn-more-menu .mat-icon {
    padding-top: 4px;
}

// Added medical_cab_symbol_option style - Shivakumar
.medical_cab_symbol_option {
    font-size: 20px;
    color: red;
}