<!-- filter -- satyam -->
<div class="flex_row">
    <div class="flex_col_sm_5 rowFilterBox">
        <app-search-filter
          [placeholder]="'Search by full name, id, email and cabId '"
          (setSearch)="setSearch($event)"
        >
        </app-search-filter>
    </div>
    <div class="flex_col_sm_5">
        <ul class="btn_wrapper text-right">
          <li>
            <app-filter-count
              [filterCount]="appliedFilterCount"
            ></app-filter-count>
          </li>
          <li>
            <button
              mat-raised-button
              (click)="showFilter = !showFilter"
              color="primary"
            >
              <mat-icon>filter_list</mat-icon> Filter
            </button>
          </li>
          </ul>
    </div>
    </div>
    <div
      class="white_wrapper filter_wrapper"
      [class.filter_wrapper_show]="showFilter"
    >
      <div class="flex_row">
        <div class="flex_col_sm_6">
          <app-date-filter [dateObject]="filterObject.registrationDate">
          </app-date-filter>
        </div>
        <div class="flex_col_sm_3">
          <app-dropdown-filter
            [dropdown]="filterObject.shiftType"
          ></app-dropdown-filter>
        </div>
        <div class="flex_col_sm_3">
          <h4>
            &nbsp;
          </h4>
          <mat-form-field>
            <mat-select
              placeholder="Shift"
              [formControl]="filterForm.controls.shiftName"
            >
              <!-- <mat-option *ngFor="let item of shifts" [value]="item.shiftName">{{ item.shiftName}}</mat-option> -->
              <!-- changes by satyam -> Includes shift timing --> 
              <mat-option *ngFor="let item of shifts" [value]="item.shiftName"
                >{{ item.shiftName+' '+'('+item.startShift+' - '+item.endShift+')'}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="flex_row">
        <div class="flex_col_sm_10 text-center">
          <ul class="btn_wrapper">
            <li>
              <button
                filter_btn
                mat-stroked-button
                [disabled]="disable()"
                (click)="resetFilter()"
              >
                Reset
              </button>
            </li>
    
            <li>
              <button
                filter_btn
                mat-raised-button
                color="primary"
                [disabled]="disable()"
                (click)="filter()"
              >
                Filter
              </button>
            </li>
          </ul>
        </div>
      </div>
    </div>
<table mat-table [dataSource]="rescheduled" class="mt-30">

    <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> S.No. </th>
        <td mat-cell *matCellDef="let element;let i=index"> {{getSerialNumber(i+1)}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Full Name </th>
        <td mat-cell *matCellDef="let element"> {{element?.name | checkNull}} </td>
    </ng-container>

    <ng-container matColumnDef="empid">
        <th mat-header-cell *matHeaderCellDef>Emp ID </th>
        <td mat-cell *matCellDef="let element"> {{element?.employeeId | checkNull}} </td>
    </ng-container>

     <!-- Added Gender - Shivakumar A  -->
     <ng-container matColumnDef="gender">
        <th mat-header-cell *matHeaderCellDef> Gender </th>
        <td mat-cell *matCellDef="let element"> {{element?.gender | checkNull}} </td>
    </ng-container>
    
    <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email ID </th>
        <td mat-cell *matCellDef="let element" title="{{ element?.email }}"> {{element?.email | checkNull}} </td>
    </ng-container>
    <!-- filter -- satyam -->
    <!-- <ng-container matColumnDef="contact">
        <th mat-header-cell *matHeaderCellDef> Contact Number </th>
        <td mat-cell *matCellDef="let element">{{element?.mobileNo | checkNull}} </td>
    </ng-container> -->

    <ng-container matColumnDef="cabid">
        <th mat-header-cell *matHeaderCellDef> Cab ID </th>
        <!-- <td mat-cell *matCellDef="let element"> {{element?.roster?.cab?.cabBadge}} </td> -->
        <!-- Added newCabBadgeId - Shivakumar A -->
        <td mat-cell *matCellDef="let element"> {{element?.newCabBadgeId}}
             <!-- Added Medical cab - Shivakumar A -->
        <b class="medical_cab_symbol_option" *ngIf="element?.roster?.cab?.type === medicalCabValue">&#43;</b> </td>

    </ng-container>

    <!-- <ng-container matColumnDef="scheduledfor">
        <th mat-header-cell *matHeaderCellDef> Scheduled Date </th>
        <td mat-cell *matCellDef="let element"> {{element?.roster?.rosterDate | customDate | checkNull}} </td>
    </ng-container> -->

    <!-- <ng-container matColumnDef="tripdate">
        <th mat-header-cell *matHeaderCellDef> Scheduled Timings </th>
        <td mat-cell *matCellDef="let element"> {{element?.roster?.route?.shiftTime | checkNull}} </td>
    </ng-container> -->

    <!-- Merged Date and time - Shivakumar A -->
    <!-- filter -- satyam -->
    <!-- <ng-container matColumnDef="scheduledfor">
        <th mat-header-cell *matHeaderCellDef> Scheduled For </th>
        <td mat-cell *matCellDef="let element"> {{element?.roster?.rosterDate | customDate | checkNull}} {{element?.roster?.route?.shiftTime | checkNull}}</td>
    </ng-container> -->

    <!-- <ng-container matColumnDef="rescheduledfor">
        <th mat-header-cell *matHeaderCellDef> Rescheduled Date </th>
        <td mat-cell *matCellDef="let element"> {{element?.scheduleTime | customDate | checkNull}} </td>
    </ng-container>

    <ng-container matColumnDef="cabtime">
        <th mat-header-cell *matHeaderCellDef> Rescheduledfor Time </th>
        <td mat-cell *matCellDef="let element"> {{element?.shiftTime | checkNull}} </td>
    </ng-container> -->

    <!-- Merged Date and time - Shivakumar A -->
    <ng-container matColumnDef="rescheduledfor">
        <th mat-header-cell *matHeaderCellDef> Rescheduled for </th>
        <td mat-cell *matCellDef="let element"> {{element?.scheduleTime | customDate | checkNull}} {{element?.shiftTime | checkNull}}</td>
    </ng-container>
    <!-- filter by satyam -->
    <ng-container matColumnDef="currentShift">
        <th mat-header-cell *matHeaderCellDef> Current Shift </th>
        <td mat-cell *matCellDef="let element">  {{element?.roster.route.shiftName+"("+element.roster.route.shiftTime+")"}}</td>
    </ng-container>

    <ng-container matColumnDef="requestedShift">
        <th mat-header-cell *matHeaderCellDef> Requested Shift </th>
        <td mat-cell *matCellDef="let element">{{element?.shiftName+"("+element.shiftTime+")"}}</td>
    </ng-container>

    <ng-container matColumnDef="tripType">
        <th mat-header-cell *matHeaderCellDef>Trip Type</th>
        <td mat-cell *matCellDef="let element"> {{element?.shiftType | checkNull}} </td>
    </ng-container>

    <ng-container matColumnDef="pickup">
        <th mat-header-cell *matHeaderCellDef> Pickup Location </th>
        <td mat-cell *matCellDef="let element" title="{{ element?.pickUpLocation }}" > {{element?.pickUpLocation | checkNull}} </td>
    </ng-container>

    <ng-container matColumnDef="dropoff">
        <th mat-header-cell *matHeaderCellDef> DropOff Location </th>
        <td mat-cell *matCellDef="let element" title="{{ element?.roster?.officeAddress }}"> {{element?.roster.officeAddress | checkNull}} </td>
    </ng-container>


    <ng-container matColumnDef="cancellreason">
        <!-- reason for crf -- satyam -->
        <th mat-header-cell *matHeaderCellDef>Reason for CRF </th>
        <td mat-cell *matCellDef="let element"> {{element?.reason | checkNull}} </td>
    </ng-container>

    <!-- Added Created Time  - Shivakumar A -->
<ng-container matColumnDef="createdAt">
    <th mat-header-cell *matHeaderCellDef > Requested At </th>
    <td mat-cell *matCellDef="let element"> {{element.created | date:'short'}} </td>
</ng-container>

    <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let element">
            <button mat-button [matMenuTriggerFor]="menu" class="btn-more-menu">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
                <!-- crf date validation -- satyam -->
                <button  mat-menu-item (click)="openDetailDialog(element)">
                    <mat-icon matTooltip="Approve">done</mat-icon>
                    Approve
                </button>

                <button mat-menu-item (click)="cancel('cancelled',element)">
                    <mat-icon matTooltip="Cancel">delete</mat-icon>
                    Cancel
                </button>
            </mat-menu>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<div class="white_wrapper" *ngIf="total===0">
    <h2 class="not-found">No Data Found</h2>
</div>


<div class="white_wrapper" *ngIf="rescheduled.data.length">
    <mat-paginator [length]="total" [pageIndex]="page-1" [pageSize]="pageSize" [pageSizeOptions]="pageOptions" (page)="changePage($event)">
    </mat-paginator>
</div>
