<h1 mat-dialog-title style="text-align: center" *ngIf="!data.isEdit">Add Cab Mapping</h1>
<h1 mat-dialog-title style="text-align: center" *ngIf="data.isEdit">Edit Cab Mapping</h1>
<form [formGroup]="mappingForm" (ngSubmit)="addMapping()">
    <mat-dialog-content>
        <div class="modal_message">
            <div mat-dialog-actionst>
                <mat-form-field appearance="outline" *ngIf="!data.isEdit">
                <!-- <mat-form-field appearance="outline"> -->
                    <mat-label>Vendor Name</mat-label>
                    <mat-select (selectionChange)="selectVendor($event)" formControlName="vendorId"
                        placeholder="Select Vendor">
                        <mat-option *ngFor="let vendor of vendors" [value]="vendor._id">
                            {{vendor.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="outline" *ngIf="!data.isEdit">
                    <mat-label>{{cabPlaceHolder}}</mat-label>
                    <mat-select formControlName="cabId" [placeholder]="cabPlaceHolder" [ngClass]="selected" (ngModelChange)="assignMedicalCabSymbol($event)">
                        <mat-option *ngFor="let cab of cabs" [value]="cab">
                            {{cab.routeNo}} <img class="medical_cab_symbol_option" *ngIf="cab.type === medicalCabValue" src="assets/images/medicalCab.png"/>
                        </mat-option>
                    </mat-select>
                    <mat-error>
                        {{getControl('cabId')|validate:'Cab'}}
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Enter driver name</mat-label>
                    <input formControlName="driverId" placeholder="Search Driver" [matAutocomplete]="auto1" matInput>
                    <mat-hint>Search driver by entering at least 3 characters</mat-hint>
                    <mat-autocomplete (optionSelected)="selectDriver($event)" #auto1="matAutocomplete">
                        <mat-option *ngFor="let driver of drivers" [value]="driver">
                            {{driver.name}}
                        </mat-option>
                    </mat-autocomplete>
                    <mat-error>
                        {{getControl('driverId')|validate:'Driver'}}
                    </mat-error>
                </mat-form-field>

            </div>
        </div>

    </mat-dialog-content>

    <mat-dialog-actions>
        <ul class="btn_wrapper">
            <li>
                <button mat-stroked-button type="button" (click)="closePopup()" class="modal-btn no">
                    Cancel
                </button>
            </li>
            <li>
                <button mat-raised-button mat-raised-button color="primary" type="submit" *ngIf="!data.isEdit">
                    Add
                </button>

                <button mat-raised-button mat-raised-button color="primary" type="submit" *ngIf="data.isEdit">
                    Edit
                </button>
            </li>
        </ul>


    </mat-dialog-actions>
</form>