<div class="routeBox" (click)="gotoMap()">
    <form [formGroup]="nameForm" #form="ngForm" >
        <div class="groupName">
            <h4 *ngIf="!edittable">
                <!-- {{groupDetails?.routeBadge | checkNull}} -->
                {{groupDetails?.routeName | checkNull}}
            </h4>
            <div *ngIf="!edittable" class="editName" (click)="editableMode(true)">
                <i class="material-icons"> edit </i>
            </div>
            <div class="editWrapper" *ngIf="edittable">
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="" formControlName="name">
                    <mat-error>{{getControl('name')|validate:'Group Name'}}</mat-error>
                </mat-form-field>
                <i class="material-icons editName editpanel done" (click)="changeGroupname(groupDetails?._id)">done </i>
                <i class="material-icons editName editpanel" (click)="editableMode(false)">clear</i>
                <i></i>
            </div>
            <div class="loginTime">
                <p *ngIf="!tabInfo">Login: <span>{{groupDetails?.shiftTime | shiftTime  | checkNull}}</span></p>
                <p *ngIf="tabInfo">Logout: <span>{{groupDetails?.shiftTime | shiftTime  | checkNull}}</span></p>
                <p class="ext-bold">{{groupDetails?.shiftName  | checkNull}}</p>
            </div>
        </div>
    </form>
    <div class="groupDetail">
        <div class="groupInfo">
            <div class="flex_row">
                <div class="flex_col_sm_5">
                    <p>Trip Time</p>
                </div>
                <div class="flex_col_sm_5">
                    <p class="ext-bold">{{groupDetails?.totalTripTime | checkNull}} {{'min'}}</p>
                </div>
            </div>

            <div class="flex_row">
                <div class="flex_col_sm_5">
                    <p>Employees</p>
                </div>
                <div class="flex_col_sm_5">
                    <p class="ext-bold">{{groupDetails?.empCount | checkNull}}</p>
                </div>
            </div>
            <div class="flex_row">
                <div class="flex_col_sm_5">
                    <p>Seats Needed</p>
                </div>
                <div class="flex_col_sm_5">
                    <p class="ext-bold">{{groupDetails?.maxGroupSize | checkNull}}</p>
                </div>
            </div>
        </div>

        <div class="groupStatus" *ngIf="groupDetails?.status=='unapproved'">
            <button mat-raised-button color="primary" (click)="approveGroup(groupDetails?._id,false)">Approve</button>
        </div>

        <div class="groupStatus" *ngIf="groupDetails?.status=='approved'">
            <p style=" color: #091e42;font-weight:bold">{{'Approved'}}</p>
        </div>

        <div class="groupStatus" *ngIf="groupDetails?.status=='executed'">
            <p style=" color: #091e42;font-weight:bold">{{'Executed'}}</p>
        </div>

    </div>
</div>